@charset "UTF-8";

.timeline-wrapper {
  overflow: hidden;
  position: absolute;
  top: 36px;
  left: 60px;
  right: 36px;
  bottom: 36px;
  background: #FFF;
  border-radius: 10px;
  z-index: 1;

  width: 320px;
}
