// bower:scss
// endbower

body {
  color: #333;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;

}

* {
  font-family: 'Avenir','Hiragino Kaku Gothic ProN',sans-serif !important;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  background-image: url(/images/background.jpg);
  background-size: cover;
}
