@charset "UTF-8";

.things-wrapper {
  overflow: visible;
  position: absolute;
  top: 36px;
  left: 420px;
  right: 36px;
  bottom: 36px;
  background: #FFF;
  border-radius: 10px;
  z-index: 1;

  header {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 2px 2px rgba(0,0,0,0.07);
    z-index: 1;

    h1 {
      line-height: 60px;
      text-align: center;
      font-weight: 400;
      color: #666;
    }
  }
}

ul.things {
  .add {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    line-height: 72px;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.2);
  }

  .add:hover {
    background-color: rgba(0,0,0,0.04);
  }
}

.thing {
  position: relative;
  width: 100%;

  .knob {
    position: relative;
    transition: 0.2s linear;
    content: "";
    cursor: pointer;
    margin: 0 5px;
    padding: 24px 0 24px 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-image: url("/images/knob.png");
    background-size: 17px 15px;
    background-repeat: no-repeat;
    background-position: 21px center;
  }

  .knob:hover {
    background-color: rgba(0,0,0,0.04);
  }

  .input {
    min-height: 1em;
    color: #666;
    font-size: 16px;
    font-weight: 100;

    border: none;
    outline: none;
    background-color: transparent;
    cursor: text;

    &.cover {
      position: absolute;
      top: 24px;
      right: 0;
      left: 70px;
      bottom: 24px;
      color: transparent;
    }

    .time {
      border-bottom: 1px solid #077bc5;
      color: #077bc5;
    }
  }
}
