@charset "UTF-8";

.button-facebook {
  display: inline-block;
  height: 56px;
  width: 263px;
  background: url(/images/facebook-button.png) no-repeat center center;
  background-size: contain;
  overflow: hidden;
  text-indent: 100%;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    opacity: 0.7;
  }
}
