@charset "UTF-8";

$do-background-color: rgba(150, 214, 255, 0.14);
$do-hover-background-color: #EEF5FF;
$do-text-color: #077BC5;
$do-border-color: #96D6FF;
$done-background-color: rgba(56, 207, 157, 0.20);
$done-text-color: #38CF9D;

.doing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.doing-wrapper {
  position: relative;
}

.doing-item {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 10px;
  box-sizing: border-box;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transition: 500ms;

  &:focus {
    outline: none;
    .doing-item-inner {
      box-shadow: 0 0 10px rgba(0,0,0,0.0);
    }
  }

  &:not(.doing):hover .doing-item-inner {
    transform: translateX(0px) scale(1.00);
    box-shadow: rgba(0, 0, 0, 0.0) -2px 0px 2px;
  }

  &.ui-draggable-dragging, &.ui-resizable-resizing {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    transition: 0ms;

    &:not(.doing-doing-resizing) .doing-background {
      display: none;
    }
  }

  &:not(.doing).ui-draggable-dragging .doing-item-inner {
    transform: translateX(6px) scale(1.00);
    box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 10px;
  }

  &.doing .doing-item-inner {
    border-color: $done-text-color;
    color: $done-text-color;
    background-color: #fff;
  }

  &.done .doing-item-inner {
    background-color: $done-background-color;
    border-color: $done-text-color;
    color: $done-text-color;
  }

  &.doing.ui-draggable-dragging .doing-item-inner,
  &.done.ui-draggable-dragging .doing-item-inner,
  &:not(.doing-doing-resizing).doing.ui-resizable-resizing .doing-item-inner {
    background-color: $do-background-color;
    border-color: $do-border-color;
    color: $do-text-color;
  }

  .ui-resizable-n, .ui-resizable-s {
    cursor: ns-resize;
  }

}

.doing-item-inner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0px;
  bottom: 0px;
  transform: translateZ(0);
  transition: 200ms;
  border-radius: 10px;
  padding: 6px;
  font-size: 12px;
  border: solid 2px $do-border-color;
  background-color: $do-background-color;
  color: $do-text-color;
  overflow: hidden;
}

.doing-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: $done-background-color;
}

.doing-body {
  position: relative;
  margin: 0;
}
