#timeline-scales {
  position: absolute;
}

.timeline-scale {
  position: relative;
  height: 72px;
}

.timeline-current {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: 2px solid #ff6666;
}
