#timeline-scales {
  position: absolute;
  width: 100%;
}

.timeline-scale {
  position: relative;
  height: 60px;
  width: 100%;
  background-image: url(/images/time_back.png);
  background-size: auto 100%;
  span {
    display: block;
    width: 36px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #868686;
  }
}
